<mat-toolbar>
  <span>Curso de Angular 6</span>

  <mat-menu #appMenu="matMenu">
    <button mat-menu-item routerLink="/home" routerLinkActive="active">Inicio</button>
    <button mat-menu-item routerLink="/todo" routerLinkActive="active">Todo</button>
    <button mat-menu-item routerLink="/heroes" routerLinkActive="active">Héroes</button>
    <button mat-menu-item routerLink="/resultados-electorales" routerLinkActive="active">Resultados electorales</button>
    <button mat-menu-item routerLink="/clientes" routerLinkActive="active">Clientes</button>
    <button mat-menu-item routerLink="/eventos" routerLinkActive="active">Eventos</button>
    <button mat-menu-item routerLink="/formularios" routerLinkActive="active">Formularios</button>
  </mat-menu>

  <button mat-icon-button [matMenuTriggerFor]="appMenu">
    <mat-icon>more_vert</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>




